/* darkmode */
.card.dark {
    background: var(--text-mid-tone);
}

.card.dark h3,
.card.dark p,
.card.dark div {
    color: var(--text-light-tone);
}

.card.dark .delete-action {
    filter: invert(100%);
}

.card .delete-action {
    width: 36px;
    cursor: pointer;
    filter: invert(40%);
}

.card .delete-action:hover {
    transform: scale(1.2);
}

.card .commands {
    display: flex;
    align-items: center;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: var(--text-light-tone);
    min-width: 295px;
    width: 295px;
    height: 295px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    position: relative;
}

.card:hover {
    transform: rotate(2deg);
}

.card h3 {
    color: var(--text-mid-tone);
    margin-bottom: 6px;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card p {
    color: var(--text-mid-tone);
    font-size: 0.9em;

}

.card div {
    color: var(--text-mid-tone);
    font-size: 0.7em;
    margin: 10px 0;
    line-height: 1.5em;
}

.card a {
    color: var(--text-mid-tone);
    text-decoration: none;
    display: block;
    background: var(--page-background);
    font-size: 0.9em;
    width: 80px;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    margin: 0 auto 0;
    transition: 0.3s ease 0s;
}