.submit {
    display: block;
    width: 100px;
    background-color: #52a53d;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    padding: 8px;
    border: none;
    border-radius: 8px;
    margin: 20px auto;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease 0s;
}